body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: snow;
}

.carousel {
  width: 1024px;
  height: 768px;

  overflow: hidden;

  background-color: azure;
  border: 5px solid black;
  position: relative;
}

.vertical-carousel-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.vertical-carousel-item {
  box-sizing: border-box;
  width: 100%;
  min-height: 768px;
  &:nth-child(1) {
    background-color: lightsteelblue;
  }
  &:nth-child(2) {
    background-color: mediumslateblue;
  }
  &:nth-child(3) {
    background-color: navy;;
  }
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 10px;
  height: 100%;
  right: 10px;
}

.dots span {
  display: block;
  box-sizing: border-box;
  background-color: gray;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 3px 0;
  z-index: 999;
}

.dots span.active {
  background-color: orange;
}

.horizontal-carousel-wrapper {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1s;
}

.test {
  position: absolute;
  height: 768px;
  display: flex;
  flex-direction: row;
}

.horizontal-carousel-item {
  box-sizing: border-box;
  min-width: 1024px;
  height: 100%;
  &:nth-child(1) {
    background-color: lightpink;
  }
  &:nth-child(2) {
    background-color: hotpink;
  }
  &:nth-child(3) {
    background-color: mediumvioletred;
  }
}

.rangeThumb {
  position: absolute;
  width: 90%;
  bottom: 15px;
  left: 5%;
  height: 14px;
  z-index: 999;
}

.range {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: red;
  border: 1px solid black;
}

.thumb {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
  border: 10px;
  background-color: blue;
  border: 1px solid black;
  cursor: pointer;
}